<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text me</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: open sans;
            box-sizing: border-box;
            font-size: 14px;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            color: #fff;
        }

        .app {
            height: 90vh;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            box-shadow: 0 3px 10px #ddd;
            border-radius: 10px;
            padding: 20px;
            width: 90%;
            max-width: 400px;
            background: #000;
        }

        .messages_holder {
            background: #333;
            flex: 1;
            border-radius: 10px;
            padding: 10px;
            max-height: 100%;
            overflow: auto;
            display: flex;
            flex-direction: column;
        }

        .message_wraper {
            display: inline-block;
            max-width: 45%;
            align-self: flex-start;
            display: flex;
            column-gap: 8px;
        }

        .message {
            padding: 8px;
            border-radius: 0px 20px 20px 20px;
            margin-top: 14px;
            background: #fff;
            color: #111;
        }

        #you {
            align-self: flex-end;
            text-align: right;
            flex-direction: row-reverse;
        }

        #you .message {
            border-radius: 20px 0px 20px 20px;
            background: dodgerblue;
            color: #fff;
        }

        .user {
            color: #fff;
            font-size: 12px;
            padding: 8px;
            background: dodgerblue;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }

        .envolope {
            margin-top: 20px;
            display: flex;
            column-gap: 20px;
        }

        .inp {
            flex: 1;
            outline: none;
            border: #393939 1px solid;
            background: #333;
            padding: 10px;
            border-radius: 4px;
            color: #fff;
        }

        .sub-btn {
            outline: none;
            border: #ddd 1px solid;
            background: dodgerblue;
            padding: 10px 20px;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            border: #00b5fd 0px;
        }

        .user-1 {
            background: #931bab;
        }

        .user-2 {
            background: #1bad13;
            /*   color:#111; */
        }





        /* width */
        ::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #777;

        }
    </style>
</head>

<body>
    <div class="app">
        <div class="messages_holder" id="msgs">

            <div class="message_wraper ">
                <span class="user user-1">J</span>
                <div class="message"> hello world!</div>
            </div>
            <div id="you" class="message_wraper">
                <span class="user user-2">S</span>
                <div class="message"> hello world!</div>
            </div>

        </div>

        <form action="" class="envolope" id="form">
            <input type="text" id="input" placeholder="Aaa" class="inp" name="message">
            <button type="submit" class="sub-btn">Sent</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var form = document.getElementById('form');
        var input = document.getElementById('input');
        var msgs = document.getElementById('msgs');
        const name = prompt('what is your name')

        function mockup(userName, userCount = 1, msg, you) {
            msgs.insertAdjacentHTML('beforeend', `
            <div class="message_wraper " ${you && 'id="you"'}>
                <span class="user user-${userCount}" title="${userName}">${userName.slice(0, 1).toUpperCase()}</span>
                <div class="message"> ${msg} </div>
            </div>
            `)
        }

        const socket = io();

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            if (input.value) {
                socket.emit('chat message', input.value);
                mockup(name, 1, input.value, true);
                input.value = '';
            }
        });

        socket.on('chat message', (msg) => {
            mockup(name, 1, msg);
        })

    </script>
</body>

</html>